/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #080f20;
  --text-color: #ccd5e0;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--primary-bg-color) url("../images/bg.png") no-repeat center/cover;
  display: flex;
  flex-direction: column;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* BUTTON */
.button {
  display: inline-block;
  border: 1px solid #ccd5e0;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .button {
    font-size: 20px;
  }
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper--column {
  flex-direction: column;
}

.instruction {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  .instruction {
    font-size: 18px;
    text-align: justify;
  }
}

/* LOGO */
.logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
@media only screen and (max-width: 768px) {
  .logo {
    top: 12px;
  }
}

.logo__img {
  max-width: 212px;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .logo__img {
    max-width: 170px;
  }
}
@media only screen and (max-width: 576px) {
  .logo__img {
    max-width: 140px;
  }
}

.creator-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff8d13;
  font-size: 22px;
  font-weight: 600;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  position: absolute;
  top: 10px;
  text-align: center;
}
.title a {
  color: var(--text-color);
}

.card {
  --text-color: #000;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px;
  border-radius: 10px;
  transition: max-width 0.5s ease;
}
.card.hidden {
  display: none;
}
@media only screen and (max-width: 768px) {
  .card {
    max-width: 98%;
  }
}

.card__word {
  color: #0018ee;
  background: -webkit-linear-gradient(180deg, #1464ff 0%, #0018ee 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .card__word {
    font-size: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .card__word {
    text-transform: capitalize;
  }
}

.card__word-input {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  min-width: 80%;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .card__word-input {
    font-size: 16px;
  }
}
.card__word-input::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  -moz-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}
.card__word-input::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .card__word-input::-moz-placeholder {
    font-size: 16px;
  }
  .card__word-input::placeholder {
    font-size: 16px;
  }
}

.card__time-text {
  font-size: 20px;
  margin-bottom: 3px;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .card__time-text {
    font-size: 18px;
  }
}

.card__score-text {
  font-size: 20px;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .card__score-text {
    font-size: 18px;
  }
}

.hidden {
  display: none;
}

.game-over {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.game-over__title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 8px;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .game-over__title {
    font-size: 52px;
  }
}
@media only screen and (max-width: 576px) {
  .game-over__title {
    font-size: 42px;
  }
}

.game-over__text {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  transition: font-size 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .game-over__text {
    font-size: 22px;
  }
}
@media only screen and (max-width: 576px) {
  .game-over__text {
    font-size: 18px;
  }
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */