/* CUSTOM PROPS */
:root {
  --primary-bg-color: #080f20;
  --text-color: #ccd5e0;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--primary-bg-color) url("../images/bg.png") no-repeat center /
    cover;
  display: flex;
  flex-direction: column;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* BUTTON */
.button {
  display: inline-block;
  border: 1px solid #ccd5e0;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;

  @media only screen and (max-width: $tablet) {
    font-size: 20px;
  }
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &--column {
    flex-direction: column;
  }
}

.instruction {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;

  @media only screen and (max-width: $tablet) {
    font-size: 18px;
    text-align: justify;
  }
}

/* LOGO */
.logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  @media only screen and (max-width: $tablet) {
    top: 12px;
  }
}

.logo__img {
  max-width: 138px;
  width: 100%;
  height: auto;

  @media only screen and (max-width: $tablet) {
    max-width: 170px;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 140px;
  }
}

.creator-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff8d13;
  font-size: 22px;
  font-weight: 600;
}
