.game-over {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.game-over__title {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 8px;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet) {
    font-size: 52px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 42px;
  }
}

.game-over__text {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet) {
    font-size: 22px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 18px;
  }
}

.hidden {
  display: none;
}
